@keyframes fadeinall {
  0% {
    opacity: 1;
  }

  97% {
    opacity: 0;
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}

html {
  --icon-stroke-width: 0px;
  --icon-color: white;
  --icon-size: 3rem;
  --icon-cursor: inherit;
  --icon-padding: 1rem;
}

.icon {
  cursor: var(--icon-cursor, inherit);
  height: var(--icon-size, 1.5rem);
  width: var(--icon-size, 1.5rem);
  min-height: var(--icon-size, 1.5rem);
  min-width: var(--icon-size, 1.5rem);
  margin: var(--icon-margin, 0);
  fill: var(--icon-color, currentcolor);
  stroke: var(--icon-color, currentcolor);
  stroke-width: var(--icon-stroke-width, 1px);
  padding: var(--icon-padding, 1rem);
}

.gallery {
  display: flex;
  flex-flow: wrap;
  gap: 1rem 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gallery > figure {
  width: 20%;
  margin: 0;
}

.gallery > figure > img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.gallery > figure > img:hover {
  transform: scale(1.1);
  transition: all ease-in-out .1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.map {
  background: rgb(255, 0, 0);
}

.map > .overlay-container {
  text-align: center;
}

.overlay-container {
  height: 100vh;
}

.contain-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.overlay-map {
  width: 80%;
  object-fit: contain;
  object-position: center;
  max-height: 60%;
}

button.back, button.close, button.details {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.image-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: 100%;
  margin: 0 auto;

  .details {
    position: absolute;
    top: 0;
    right: 0;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media (orientation:portrait) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 0 0;
  }

  .gallery > figure {
    width: 100%;
    margin: 0;
  }
}

#fadein {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #ffffff;
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
